/* Sección de etiquetas globales */

body{
    background-color: #F3F5FC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: red;
}

textarea::placeholder{
    color: #0A3871;
}

.texto-acciones{
    outline: none;
    border: none;
    resize: none;
    color: #0A3871;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    width: 90%;
    height: 300px;
    background-color: palevioletred;
}

.txt-res{
    outline: none;
    border: none;
    resize: none;
    color: #0A3871;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    width: 90%;
    height: auto;
}

/* Sección de ontenido principal */

.contenedor-principal{
    /*text-align: center;*/
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
}

/* Sección de encriptar o desencriptar (Derecho) */

.texto-encriptar{
    background-color: green;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 24;
    width: 70%;
    padding: 20px;
}

.advertencia{
    color: #495057;
    margin-bottom: 1rem;
    background-color: blueviolet;
}

.botones-acciones{
    background-color: orange;
}


/* Sección de resultado (Izquierda) */

.texto-desencriptar{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 20%;
    border-radius: 1rem;
    padding: 20px;
}

.txt-ne-titulo{
    font-weight: bold;
    font-size: 20px;
}
.txt-ne-contenido{
    font-size: 15px;
}

.img-no-encontrado{
    width: 100%;
}

/* Botones */

.boton-activado-1{
    background-color: #0A3871;
    color: white;
    padding: 10px;
    width: 20%;
    border-radius: 1rem;
    border-color: #0A3871;
    font-weight: bold;
}
.boton-activado-2{
    background-color: transparent;
    color: #0A3871;
    padding: 10px;
    width: 20%;
    border-radius: 1rem;
    border-color: #0A3871;
    font-weight: bold;
}

footer{
    padding: 20px;
    background-color: #0A3871;
    color: white;
    text-align: center;
}

.contacto{
    color: white;
    font-weight: bold;
}